/* Reglas Generales */
* {
  margin: 0;
  padding: 0;
  border: 0;
}
a,
a:link,
a:visited,
a:hover,
a:active {
  color: #000000;
  text-decoration: none;
}
/* Nav */
nav {
  background-color: #373a3c;
}
nav .titulo {
  font-family: "Lobster", cursive;
  color: #ffffff;
}
nav li a {
  font-family: "Cabin", sans-serif !important;
  color: #ffffff;
}
nav button {
  background: #373a3c !important;
  border-color: #ffffff !important;
}
hr {
  border: 1px solid #000000;
  opacity: initial;
}

/*Section  Main */
main .titulo_main {
  font-family: "Cabin", sans-serif !important;
  color: #373a3c;
}
main button {
  color: #373a3c !important;
}
.newsletter {
  font-family: "Cabin", sans-serif !important;
}
.newsletter span {
  font-family: "Lobster", cursive;
}
li {
  list-style: none;
}
/* Carusel */
.carousel-indicators [data-bs-target] {
  background-color: #000;
  border-radius: 100%;
  width: 0.8em;
  height: 0.8em;
  opacity: 0.3;
  /* margin-bottom: -2rem; */
}
.carousel-indicators .active {
  background-color: #000;
  opacity: 1;
}
/* Footer */
footer {
  background: #373a3c;
  color: #ffffff;
  /* font-family: 'Cabin', sans-serif !important; */
  font-family: "Lobster", cursive;
}
/* media query */
@media (min-width: 576px) {
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  main img {
    width: 482px;
  }
}
